// Primary Colors
$primary-green: #28a745;

// Neutral Colors
$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000000;

// Semantic Colors
$success: $primary-green;
$light: $gray-100;
$dark: $gray-800;

// Additional Colors
$secondary: $gray-600;
$muted: $gray-500;

$custom-theme-color: var(--custom-theme-color);
$theme-main-color: #38966c;
$theme-light-color: #e4f8efab;
$theme-light-md-color: #b9d8cb;
$black-color: #000000;
$white-color: #ffffff;
$font-grey-color: #757575;
$font-light-grey-color: #8e8d8d;
$font-gray-md-color: #919eab;
$box-bg-color-1: #f9f5f0;
$box-bg-color-2: #f3f4fa;
$light-bg-color: #fafafa;
$grey-border-color: #919eab7d;
$font-grey-medium: #666666;
$form-tag-bg-color: #f1f3f5;
$social-icon-color: #212b36;
$grey-bg-color: #ebebeb;
$blue-color: #0d2fa7;
$yellow-color: #ffc81a;
$bg-dark-black-color: #151615;
$dark-grey-color: #505050;
$error-color: #ff4d53;
$toaster-error-color: #ffb04f;
$bg-grey-color: #f5f6fa;
$secondary-color: #e2b84c;
$grey: #929292;
$nav-color: #637381;
$font-secondary: 'Poppins', sans-serif;
$theme-success-color: #36a012;
$theme-error-color: #df1010;
$attribute-table-heading-color: #edf6f2;
$attribute-table-text-color: #38956b;
$attribute-table-heading-bg-color: #f8f8f8;
$border-bottom-color: #cccccc;
$app-green-color: #3fa477;
$scroll-color: #cdcdcd;
$label-color: #424242;
$border-default-color: #dee2e6;
$popup-header: #2d2d2d;
$form-disabled-bg-color: #e9ecef;
$mat-tab-color: #5a5959;
$mat-tab-header-color: #f4f6f8;
$app-bg-color: #eff5ff;
$mat-logout-button-bg-color: rgb(224 53 69);
$mat-reset-button-bg-color: #4876ff;
$divider-color: #b1b0b0;
$bg-dark-backdrop: rgba(5, 10, 15, 0.75);
$mat-tab-border-color: #e6e6e6;
$disabled-button-bg-color: #c1c1c1;
$label-font-color: #89849a;
$lite-theme-button-bg-color: #ebf5f0;
$app-color-link-btn: #3b9c70;
$primary-color: #3581c8;
$text-bg-color: #e9e9e9;
$soft-white-color: #f1f1f1;
$muted-slate-color: #888;
$spanish-grey: #8f8f8f;
$mint-green-bg: #f1f8f5;
$accordian-bg-color: #e7f1ff;
$accordian-color: #99ffb9;
$checkbox-color: #727272;
